@using Newtonsoft.Json;
@model ProjControleEstoque.Models.Product

@inject IHttpContextAccessor _httpContext;
@{
    ViewData["Title"] = "moveProduct";
    var userStr = _httpContext.HttpContext.Session.GetString("User");
    var user = JsonConvert.DeserializeObject<User>(userStr);
    ViewData["Teste"] = userStr;

}


<div class="p-4" style="background-color: #ededed; border-radius: 0.3rem; box-shadow: 0 0 1rem #aaa; margin-top: 6rem">
    <h1>Movimentação do Estoque </h1>
    <hr />

    <form asp-action="Create" asp-controller="Products">
        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nome) do produto:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Quantidade) no Estoque:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Quantidade) Unidades.
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Localizacao) do Produto
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Localizacao)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Fornecedor) :
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Fornecedor)
                </dd>
        </div>
        <input name="ProdutoId" type="hidden" value="@Html.DisplayFor(model => model.Id)" />
        <input name="RegistradoPorId" type="hidden" value ="@user.Id" />
        
        

        Escolha a Movimentação a ser Feita:
        <div class="d-flex justify-content-between mt-2 mb-3">

            <select id="report_type" name="Tipo" class="form-select" aria-label="Tipo de relatorio" style="max-width: 20rem">
                <option value="" selected disabled>-</option>
                <option value="EntradaProdutos">Entrada de Produtos </option>
                <option value="SaidaProdutos">Saida de Produtos </option>
            </select>
        </div>

        <div class="mb-3 col-sm-2">
            <label for="quantidadeEntrada" class="form-label">Digite a quantidade:</label>
            <input id="quantidadeEntrada" name="Quantidade" class="form-control" type="number" aria-label="Disabled input example" value="1" min="1" width="10" />
        </div>

        <div class="mb-3">
            <label for="solicitadoPorId" class="form-label">Solicitado Por: </label>
            <input id="solicitadoPorId" name="SolicitadoPorId" class="form-control" type="text" aria-label="Disabled input example" />
        </div>

        <div class="mb-3">
            <label for="motivo" class="form-label">Motivo:</label>
            <textarea name="Motivo" class="form-control" id="motivo" rows="4"></textarea>
        </div>

        <hr />
        <button type="submit" class="btn btn-secondary btn-lg" id="btnCadastrar"> Cadastrar</button>
        <a asp-controller="Products" asp-action="Index">
            <button type="button" class="btn btn-secondary btn-lg"> Voltar </button>
        </a>

    </form>
    
</div>




