@model ProjControleEstoque.Models.Supplier

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do Fornecedor</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-3">
            Data de Criação do Fornecedor:
            <!-- @Html.DisplayNameFor(model => model.Criado) -->
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Criado)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.CriadoPor)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CriadoPor.Id)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model?.Id"> Editar </a>
    <a class="btn btn-danger" asp-action="Index">Voltar</a>
</div>
