@model IEnumerable<ProjControleEstoque.Models.Product>

@{
    ViewData["Title"] = "Produtos";
}

<style>

    .p-4
    {
        position: relative;
        top: 2em;
        width: 90%;
    }

    #table
    {
        background-color: white;
    }


   .tbody td
   {
       max-width: 12em;
       overflow: hidden;
       padding: 3px;
   }

   .tbody .dropdown
   {
        overflow: visible;
        text-align: center;
   }

   .dropdown-menu
   {
       background-color: lightgray;
       padding: 2px;
   }

   .dropdown-menu li a, .dropdown a 
   {
       text-decoration: none;
       color: black;

   }

   #pop
   {
       float: right;
   }

    #create-btn {
        margin-top: 2em;
        float: right;
    }

</style>


<div class="p-4 table-responsive" style="background-color: #ededed; border-radius: 0.3rem; box-shadow: 0 0 1rem #aaa">
    <div class="d-flex justify-content-between align-content-center flex-row">
        <h3 class="m-0">Produtos</h3>
        <a class="btn btn-secondary btn-lg m-0" id="create-btn" asp-controller="Product" asp-action="Create">Incluir Produto</a>
    </div>
    
    <hr />
        <table class="table-bordered" id="table">
            <!-- Table Head -->
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantidade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Localizacao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tags)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EstrategiaConsumo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Criado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Validade)
                    </th>
                    <th>Ação</th>
                </tr>
            </thead>
        <!-- Table Body -->
        <tbody class="tbody">
        @foreach (var item in Model)
        {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Localizacao)
                    </td>
                
                    <td>
                        @Html.DisplayFor(modelItem => item.Tags)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.EstrategiaConsumo)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Criado)
                    </td>

                     <td>
                        @Html.DisplayFor(modelItem => item.Validade)
                    </td>

                    <!-- Dropdown -->
                    <td class="dropdown">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-action="Edit" asp-route-id="@item.Id">Editar</a></li>
                            <li><a asp-action="Details" asp-route-id="@item.Id">Detalhes</a></li>
                            <li><a asp-action="Delete" asp-route-id="@item.Id">Excluir</a></li>
                        </ul>
                    </td>
                </tr>
        }
        </tbody>   
    </table>
</div>

