@model IEnumerable<ProjControleEstoque.Models.Product>

@{
    ViewData["Title"] = "Index";
}


<a asp-controller="Product" asp-action="Create">
    <button type="button" class="btn btn-secondary" id="create-btn">
        Incluir Produto
    </button>
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstrategiaConsumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Criado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="table-light">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="table-light">
                @Html.DisplayFor(modelItem => item.Descricao)
            <td class="table-light">
                @Html.DisplayFor(modelItem => item.Quantidade)
            <td class="table-light">
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td class="table-light">
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td class="table-light"><td>
                @Html.DisplayFor(modelItem => item.EstrategiaConsumo)
            </td>
            <td class="table-light">
                @Html.DisplayFor(modelItem => item.Criado)
            </td>
            <td class="table-light">
                @Html.DisplayFor(modelItem => item.Validade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
