@model ProjControleEstoque.Models.User

@{
    ViewData["Title"] = "Deletar";
}

<div class="container align-center formu p-3">
    <h1>Deletar</h1>
    <h3>Você realmente deseja Deletar esse Usuário??</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index"><input type="button" value="Voltar" class="btn btn-secondary" /> </a>
    </form>
</div>
