@using Newtonsoft.Json;
@model ProjControleEstoque.Models.User
@inject IHttpContextAccessor _httpContext;

@{
    ViewData["Title"] = "Detalhes";
    var userStr = _httpContext.HttpContext.Session.GetString("User");
    var user = JsonConvert.DeserializeObject<User>(userStr);
}

<div class="container align-center formu p-3">
    <h1>Detalhes do Usuário</h1>
    <h3>@user.Nome </h3>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary" id="edit-btn">Editar</a>
    <a asp-action="Index" id="back-btn" class="btn btn-danger" id="back-btn">Voltar</a>
</>


